@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body{
   background-color: #121717
}

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: auto 320px auto;
  grid-template-rows: 20% 320px auto;
}

#game {
  z-index: 1;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 4% auto 4% auto;
  grid-template-columns: auto 4% auto 4% auto;
}

#copyright {
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #333;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #copyright {
    font-size: 22px;
  }
  
  #wrapper{
    grid-template-columns: auto 420px auto;
    grid-template-rows: 13% 420px auto;
  }
}
@media screen and (min-width: 1024px) {
  #copyright {
    font-size: 26px;
  }

  #wrapper{
    grid-template-columns: auto 640px auto;
    grid-template-rows: 14% 640px auto;
  }
}
@media screen and (min-width: 1921px) {
  #copyright {
    font-size: 30px;
  }

  #wrapper{
    grid-template-columns: auto 1000px auto;
    grid-template-rows: 14% 1000px auto;
  }
}


#a1 {
  grid-row: 1;
  grid-column: 1;
}

#a2 {
  grid-row: 1;
  grid-column: 3;
}

#a3 {
  grid-row: 1;
  grid-column: 5;
}

#b1 {
  grid-row: 3;
  grid-column: 1;
}

#b2 {
  grid-row: 3;
  grid-column: 3;
}

#b3 {
  grid-row: 3;
  grid-column: 5;
}

#c1 {
  grid-row: 5;
  grid-column: 1;
}

#c2 {
  grid-row: 5;
  grid-column: 3;
}

#c3 {
  grid-row: 5;
  grid-column: 5;
}

.cell {
  
}